  <p>
	<ul>
	 {{#each users}}
		<li>{{formatDate date day="numeric" month="long" year="numeric"}} <span>{{name}} ({{rank}} rank of user) </span> - {{age}} nubmer of bonuses</li>
	{{/each}}
	</ul>
  </p>

